/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Raleway:wght@500&family=Ubuntu:wght@300&display=swap');

:root{
  --primary-color: rgba(0, 155, 155, 0.697);
}

html{
  font-size: 16px;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.head{
  background: url('img/title.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 21.8rem;
  border-bottom-right-radius: 1.1rem;
  border-bottom-left-radius: 1.1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* TITLE */
.title h1{
  font-size: 7.5rem;
  color: azure;
  font-family: 'Borel', cursive;
  margin: 1.25rem 0 0 0;
  padding: 3.75rem 0.5rem 0.6rem 0.5rem;
  text-align: center;
}

#slogan{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -2.5rem;
}

#slogan p{
  font-size: 1.8rem;
  font-family: 'Borel', cursive;
  padding: 0.3rem 0.5rem 0.5rem 0.5rem;
  margin: 0;
}

/* NAVIGATION BAR  */
nav{
    margin: 1.25rem 0 2.5rem 0;
    height: 5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    border-radius: 0.35rem;
    box-shadow: 0 1px 1.87rem 0 rgba(0,0,0,.1);
  }

nav ul{
    overflow: auto;
    margin: 1.5rem 0.6rem;
  }

 .nav{
    float: left;
    list-style: none;
    margin: 1.5rem 0.6rem;
  }

  /* Styling links */
 .nav a{
    margin: 0;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.35rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  .nav a:hover,.nav a:active,.nav a:focus{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }

  #home{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }

  /* Search bar */
  #search{
    display: flex;
    align-items: center;
    float: right;
    margin: 1.5rem 0.6rem;
    padding: 0.3rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 1.25rem;
    width: 15.3rem;
    height: 1.5rem;
  }

  #search input{
    border: none;
    outline: none;
    width: 13.75rem;
    height: 1.5rem;
  }

  #img{
    width: 1.25rem;
    height: 1.25rem;
  }



  /* ---------------------------------------*/
  /* MAIN  */
/* WHY WE ARE THE BEST */

#why-title{
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  margin-top: 2.5rem;
}

.why{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.best{
  margin: 0.75rem;
  width: 21.25rem;
  height: 20.65rem;
}

.best h1{
  text-align: center;
  font-size: 1.8rem;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
}

.best h1:hover{
  color: var(--primary-color);
}

.best p{
  color: rgb(109, 109, 109);
  font-size: 1.25rem;
  font-family: 'Ubuntu', sans-serif;
}

/* ============================================= */
/* Book Tickets */
  .boxhead{
    background-color: #fff;
    border-radius: 0.6rem;
    box-shadow: 0 1px 1.87rem 0 rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    padding: 2.25rem 0 1.5rem 2.5rem;
    margin: 3.125rem;
  }

 
  .heading{
    display: inline;
  }

  #morepacks{
   float: right;
  }

  #morepacks a{
    margin-right: 4.35rem;
    font-size: 2rem;
    list-style: none;
    text-decoration: none;
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #morepacks a:hover{
    color: black;
  }

  #booknow{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.2rem;
    margin-left:4rem;
  }

 
  .packs{
    margin: 1.25rem 0 3.75rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .bookings-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.6rem;
  }

  .bookings-card a{
    color: rgb(0, 0, 0);
    text-align: left;
    list-style: none;
    text-decoration: none;
  }

  .bookings-card a h3{
    font-size: 1.1rem;
    font-weight: bold;
   font-family: 'Ubuntu', sans-serif;
    margin: 1rem 0 0 0;
    text-align: left;
  }

  .bookings-card a p{
    color: darkgray;
    font-size: 0.75rem;
  }

 .bookings-card a:hover{
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
 }



.bookings-card img{
  border: 1px solid white;
  width: 12.5rem;
  height: 13.5rem;
  border-radius: 0.6rem;
  box-shadow: 0 1px 1.87rem 0 rgba(0,0,0,.1);
}

.bookings-card img:hover{
  opacity: 0.8;
}


 .bookings-card{
  box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12.5rem;
    height: 15.6rem;
 }
/* --------------------------------------------*/
  /* FOOTER  */

  footer{
    background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9));
    box-shadow: 0 -3px 2px 0 aqua;
    height: 24rem;
  }
  .more{
    display: flex;
    flex-direction: row;
    color: white;
  }

  .foot{
    width: 25rem;
    margin: 0.6rem;
    padding: 1.5rem;
  }

  .foot li{
    list-style: none;
  }

  .foot h1{
    font-size: 1.5rem;
  }

  /* Styling links */
  .foot li a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 0.4rem;
  }
  
  .foot li a:hover{
    color: darkgray;
  }


  #links{
    width: 24rem;
  }

  p{
    color: white;
    font-size: 1rem;
    margin: -0.6rem 0 0 0;
    padding: 1.25rem;
  }

  /* Feedback */

  #feed{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 37.5rem;
  }

  #feedback{
    margin-top: 2.5rem;
    width: 16rem;
    height: 9rem;
    background-color: black;
    color: white;
    border-radius: 0.6rem;
    font-size: 1.1rem;
  }



  #submit{
    float: left;
    font-size: 1.1rem;
    margin: 1.25rem 0;
    color: white;
    background-color: red;
    width: 7.5rem;
    height: 2.5rem;
    border-radius: 0.6rem;
  }

  #submit:hover{
    opacity: 0.6;
  }

  #feed p{
    font-size: 1.5rem;
    color: aqua;
    font-family: 'Borel', cursive;
    margin: -1.25rem 0 -2.5rem -0.6rem;
  }

  #feed p:hover{
    cursor: pointer;
    color: azure;
  }

  #all-rights-reserved{
    margin-top: -2rem;
    font-size: 1.2rem;
  }