/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Raleway:wght@500&family=Ubuntu:wght@300&display=swap');

:root{
  --primary-color: rgba(0, 155, 155, 0.697);
}

/* NAVIGATION BAR  */
nav{
    margin: 20px 0px 40px 0px;
    height: 90px;
    border-radius: 8px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 30px 0 rgba(0,0,0,.1);
  }

nav ul{
    overflow: auto;
    margin: 25px 10px;
  }

 .nav{
    float: left;
    list-style: none;
    margin: 25px 10px;
  }

  /* Styling links */
 .nav a{
    margin: 0;
    padding: 8px;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: black; */
  }

  .nav a:hover,.nav a:active,.nav a:focus{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }

  #bookings{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }

  /* Search bar */
  #search{
    display: flex;
    align-items: center;
    float: right;
    margin: 25px 10px;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    width: 245px;
    height: 25px;
  }

  #search input{
    border: none;
    width: 220px;
    height: 25px;
  }

  #img{
    width: 20px;
    height: 20px;
  }



  /* ---------------------------------------*/
  /* MAIN  */

  /* NO BOOKING */
  .nobookings p{
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align: center;
  }

  .boxhead{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 30px 0 rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    padding: 36px 0 25px 40px;
    margin: 60px
  }

 
  .heading{
    display: inline;
  }

  #morepacks{
   float: right;
  }

  #morepacks a{
    margin-right: 70px;
    font-size: 2rem;
    list-style: none;
    text-decoration: none;
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #morepacks a:hover{
    color: black;
  }

  #booknow{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    margin-left:80px;
  }

 
  .packs{
    margin: 20px 0px 60px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .box{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .box a{
    color: rgb(0, 0, 0);
    text-align: left;
    list-style: none;
    text-decoration: none;
  }

  .box a h3{
    font-size: 22px;
    font-weight: bold;
   font-family: 'Ubuntu', sans-serif;
    margin: 15px 0px 0px 0px;
    padding: 0;
    text-align: left;
  }

  .box a p{
    color: darkgray;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

 .box a:hover{
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
 }



img{
  border: 1px solid white;
  width: 220px;
  height: 240px;
  border-radius: 10px;
  box-shadow: 0 1px 30px 0 rgba(0,0,0,.1);
}



   /* ------------------------------------ */
  /* BOOK TICKETS */

   /* BOX 1 */
 #ticket1{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 280px;
}

/* BOX 2 */
  #ticket2{
    box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 280px;
  }

  /* BOX 3 */
  #ticket3{
    box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 280px;
  }

  /* BOX 4 */
  #ticket4{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
  height: 280px;
  }

  /* BOX 5 */
  #ticket5{
    box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 280px;
  }
  
   /* BOX 6 */
   #ticket6{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
  height: 280px;
  }

 
/* --------------------------------------------*/
  /* FOOTER  */

  footer{
    background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9));
    box-shadow: 0 -3px 2px 0 aqua;
    height: 400px;
  }
  .more{
    display: flex;
    flex-direction: row;
    color: white;
  }

  .foot{
    width: 380px;
    margin: 10px;
    padding: 25px;
  }

  .foot li{
    list-style: none;
  }

  /* Styling links */
  .foot li a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 22px;
    margin-top: 8px;
  }
  
  .foot li a:hover{
    color: darkgray;
  }


  #links{
    width: 380px;
  }

  p{
    color: white;
    font-size: 18px;
    margin: -10px 0px 0px 0px;
    padding: 20px;
  }

  /* Feedback */

  #feed{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 560px;
  }

  #feedback{
    margin-top: 30px;
    width: 250px;
    height: 120px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 18px;
  }



  #submit{
    float: left;
    font-size: 18px;
    margin: 20px 0px 20px 0px;
    color: white;
    background-color: red;
    width: 120px;
    height: 30px;
    border-radius: 10px;
  }

  #submit:hover{
    opacity: 0.6;
  }

  #feed p{
    font-size: 35px;
    color: aqua;
    font-family: 'Borel', cursive;
    margin: -20px 0px -40px -10px
  }