
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Raleway:wght@500&family=Ubuntu:wght@300&display=swap');

/* Variables */
:root{
    --primary-color:rgba(0, 155, 155, 0.697);
    --secondary-color:rgb(247, 250, 251);
}
/* NAVIGATION BAR  */
nav{
    margin: 20px 0px 40px 0px;
    height: 90px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    border-radius: 6px;
    box-shadow: 0 1px 30px 0 rgba(0,0,0,.1);
  }

nav ul{
    overflow: auto;
    margin: 25px 10px;
  }

 .nav{
    float: left;
    list-style: none;
    margin: 25px 10px;
  }

  /* Styling links */
 .nav a{
  margin: 0;
    padding: 8px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: black; */
  }

  .nav a:hover,.nav a:active,.nav a:focus{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }

  #hotels{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }

  /* Search bar */
  #search{
    display: flex;
    align-items: center;
    float: right;
    margin: 25px 10px;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    width: 260px;
    height: 27px;
  }

  #search input{
    border: none;
    width: 235px;
    height: 27px;
  }

  #img{
    width: 20px;
    height: 20px;
  }


  /* ---------------------------------------------*/
   /* HOTELHEAD */
   .hotelhead{
    margin: 0;
    padding: 0;
    background: url('/hotels/images/hotelhead.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px var(--secondary-color);
  }
  .hotelhead h6{
    margin: 0;
    padding: 100px;
    font-size: 100px;
    text-align: center;
    font-family: 'Ubuntu';
    color: white;
  }

  /* FLIGHT */
  form{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(247, 250, 251);
    border-radius: 6px;
    box-shadow: 0 1px 30px 0 rgba(0,0,0,.1);
    border-bottom: 3px solid var(--primary-color);
  }

  label{
    margin: 15px 0px 15px 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
  }

  input{
    width: 200px;
    height: 45px;
    font-family: 'Raleway';
    font-size: 17px;
    border-radius: 10px;
  }

  #hotel-name{
     width: 360px;
  }


  #submit-form button{
    margin: 95px 0px 0px 25px;
    color: azure;
    font-size: 20px;
    border: none;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: bold;
    padding: 11px 10px;
    background-color: var(--primary-color);
    text-align: center;
    width: 180px;
    color: #fff;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.4) inset;
    cursor: pointer;
  }

  #submit-form button:hover{
    background-color: black;
  }

/* --------------------------------------------------------*/
  /* CONTAINER  */

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 25px;
}

.box{
    width: 400px;
    height: 400px;
    margin: 10px 10px 10px 20px;
}

#item2{
    width: 85%;
    margin: -5px -50px 0px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(247, 250, 251);
    border-radius: 6px;
    box-shadow: 0 1px 30px 0 rgba(0,0,0,.1);
    border-bottom: 3px solid var(--primary-color);
    border-right: 3px solid var(--primary-color);
    border-top: none;
    border-left: none;
}

.hotel-box{
    width: 280px;
    height: 280px;
    margin: 10px 30px;
    border: 1px solid var(--secondary-color);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 30px 0 rgba(0,0,0,.1);
    cursor: pointer;
}

.hotel-box:hover{
  box-shadow: 0 1px 34px 2px rgba(0,0,0,.2);
}

.hotel-box img{
  margin: 0;
  border-radius: 10px;
  width: 280px;
  height: 180px;
  background-color: white;
}

.hotel-box h6{
  margin: 3px;
  padding: 0;
  font-family: 'Ubuntu';
  font-size: 22px;
  text-align: center;
  color: black;
}

.hotel-box p{
  margin: 6px 0px 0px 25px;
  padding: 5px;
  font-family: 'Ubuntu';
  font-size: 18px;
  /* text-align: center; */
  color: black;
}

.hotel-box p strong{
  color: red;
  font-size: 22px;
  font-family: 'Borol',cursive;
}

  /* SORT */

#item1{
  margin: -25px 25px 0px -75px;
  width: 10%;
}

  #sort{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border-right: 3px solid var(--primary-color);
  }

  select{
    margin: 25px;
    width: 150px;
    height: 35px;
    font-family: 'Raleway';
    font-size: 15px;
    border-radius: 10px;
  }

  #sort option {
    background-color:var(--secondary-color); 
    color: black;
    font-size: 20px;
  }

  
  #sort option:hover, #sort option:focus {
    outline: none;
  }

  #sort h5{
    font-family: 'Raleway';
    font-size: 24px;
    margin: 10px 0px 10px 40px;
    
  }

  #apply button{
    margin: 2px 0px 0px -5px;
    color: azure;
    font-size: 20px;
    border: none;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: bold;
    padding: 11px 10px;
    background-color: var(--primary-color);
    text-align: center;
    width: 150px;
    height: 40px;
    color: #fff;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.4) inset;
    cursor: pointer;
  }

  #apply button:hover{
    background-color: black;
  }

  #boxes{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    border-radius: 6px;
    box-shadow: 0 1px 30px 0 rgba(0,0,0,.1);
    border-bottom: 3px solid var(--primary-color)
  }

  .box{
    border: 2px solid black;
    width: 500px;
    height: 500px;
  }
  /* --------------------------------------------*/
  /* FOOTER  */

  footer{
    background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9));
    box-shadow: 0 -3px 2px 0 aqua;
    height: 450px;
  }
  .more{
    display: flex;
    flex-direction: row;
    color: white;
  }

  .foot{
    width: 400px;
    margin: 10px;
    padding: 25px;
  }

  .foot li{
    list-style: none;
  }

  /* Styling links */
  .foot li a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    margin-top: 8px;
  }
  
  .foot li a:hover{
    color: darkgray;
  }


  #links{
    width: 400px;
  }

  p{
    color: white;
    font-size: 20px;
    margin: -10px 0px 0px 0px;
    padding: 20px;
  }

  /* Feedback */

  #feed{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 600px;
  }

  #feedback{
    margin-top: 40px;
    width: 280px;
    height: 150px;
    background-color: black;
    color: white;
  }

  #submit{
    float: left;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
    color: white;
    background-color: red;
    width: 140px;
    height: 50px;
  }

  #submit:hover{
    opacity: 0.6;
  }

  #feed p{
    font-size: 38px;
    color: aqua;
    font-family: 'Borel', cursive;
    margin: -20px 0px -40px -10px
  }
 