 
 /* FONTS */
 @import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
 
 
 /* BACKGROUND */
 body{
    background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('background.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
    padding: 0px;
}

/* --------------------------------------- */
/* NAVIGATION BAR  */

nav{
    margin-top: -30px;
    padding: 0;
    height: 120px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
  }

.navbar{
    overflow: auto;
    margin: 30px;
    padding: 30px;
  }

  .navbar ul{
    margin: 10px;
    padding: 0;
    float: right;
    overflow: auto;
    display: inline;
  }

  .navbar ul li{
    display: inline;
    list-style: none;
    margin: 0px 15px;
  }

  .navbar li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
  }

  .navbar li a:hover{
    color: gray;
  }


#menu {
    float: right;
    border: none;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0); 
    color: white;
    padding: 10px 20px;
    font-size: 22px;
  }

  
  #menu option {
    background-color: rgba(0, 0, 0, 0.3); 
    color: white;
    font-size: 22px;
  }

  #menu option a{
    background-color: rgba(0, 0, 0, 0.3); 
    color: white;
    font-size: 22px;
  }
  
  #menu:hover, #menu:focus {
    outline: none;
  }


#title{
    margin: -10px;
    padding: 0;
    float: left;
    font-size: 50px;
    font-family: 'Borel', cursive;
    color: azure;
}

 
/* MAIN  */
main{
    text-align: center;
    margin: 65px;
    padding: 40px;
}


#explore{
    margin: 0%;
    font-size: 65px;
    font-weight: bold;
    font-family: 'Borel', cursive;
    text-align: center;
    color: azure;
}
.motto{
    margin: 10px;
    text-align: center;
    color: azure;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.exp a{
    margin: 45px;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: black;
    background-color: azure;
    border: 1px solid azure;
    border-radius: 18px;
}
.exp a:hover{
    color: rgb(0, 15, 15);
    background-color: rgb(148, 195, 195);
}
.exp{
    margin: 50px;
}